.modalBg {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.none {
  display: none;
}

.modal {
  background-color: #00a676;
  padding: 2rem;
  border-radius: 1rem;
}
