{% extends "modalWindow.html.twig" %} {% block modalWindowContent %}
<input type="hidden" id="idCatPut" name="id" value="" />
<button type="button" onclick="closeModalWindow()" class="redBtn">X</button>
<input
  type="hidden"
  id="csrf_id"
  name="{{ csrf.NameKey }}"
  value="{{ csrf.Name }}"
/>
<input
  type="hidden"
  id="csrf_value"
  name="{{ csrf.ValueKey }}"
  value="{{ csrf.Value }}"
/>
<table>
  <tr>
    <td><label for="name">Name</label></td>
    <td>
      <input id="nameCatPut" name="name" type="text" value="" />
    </td>
    <td>
      <input
        type="button"
        onclick="transactionSendPutRequest()"
        value="Save"
        class="redBtn"
      />
    </td>
  </tr>
</table>
{% endblock modalWindowContent %}
