body {
  color: #000000;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  background-color: #00a676;
  justify-content: space-around;
  position: sticky;
  padding: 0;
}

nav > a {
  color: #f7f9f9;
  padding: 1rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: larger;
}
nav > a:hover {
  border-radius: 0 1rem 0 0;
  background-color: #f7f9f9;
  color: #00a676;
}
.active {
  border-radius: 0 1rem 0 0;
  background-color: #f7f9f9;
  color: #00a676;
  font-weight: bold;
}
.datatable {
  width: 100%;
  padding: 3rem;
}
.datatable > tbody {
  width: 100%;
}
.datatable > tbody > tr > th {
  padding: 1 rem;
  background-color: #a76d60;
  color: #f7f9f9;
  height: 3rem;
  font-size: large;
  font-weight: 600;
}

.datatable > tbody > tr > td {
  background-color: #e0d0c1;
  color: #000000;
  text-align: center;
  height: 2rem;
  font-size: medium;
}

.datapost > tbody > tr > td > .btnSubmit {
  background-color: #cc2936;
  color: #f7f9f9;
  border-style: none;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  font-weight: 600;
}

.datapost > tbody > tr > td > input,
select {
  padding: 0.5rem;
  width: 100%;
}

.datapost > tbody > tr > td > .btnSubmit:hover {
  background-color: #e0d0c1;
  color: #a76d60;
  font-weight: 600;
  padding: 0.5rem;
}

label {
  margin: 1rem;
}

.form {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #00a676;
  height: 100vh;
}

.error {
  color: #c60f7b;
}

.error-border {
  border-color: #cc2936;
}

.form > tbody > tr > td > input {
  padding: 0.5rem;
}

.form tbody > tr > td > .btnSubmit {
  background-color: #cc2936;
  color: #f7f9f9;
  border-style: none;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: 600;
}
.form > tbody > tr > td > .btnSubmit:hover {
  background-color: #e0d0c1;
  color: #a76d60;
  font-weight: 600;
  padding: 0.5rem;
}

.form > tbody > tr > td > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form > tbody > tr > td > div > a {
  width: 100%;
  text-align: center;
}
