{% block addcategory %}
<form method="POST">
  <table class="datapost">
    <tr>
      <td><label for="name">Name</label></td>
      <td><input id="name" name="name" type="text" value="" /></td>
      <td>
        <input type="submit" value="Add Category" class="btnSubmit" />
      </td>
    </tr>
  </table>
</form>
{% endblock addcategory %}
