<!DOCTYPE html>
<html>
  <head>
    <title>slimple app</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js" type="module"></script>
  </head>
  <body>
    <div id="content" class="content">{% block content %}{% endblock %}</div>
  </body>
</html>
