{% extends 'base.html.twig' %} {% use "navbar.html.twig" %} {% use
"addcategory.html.twig" %}{% block content %} {% set active = "categories" %}
{{ block("navbar") }}

{{ block("addcategory") }}

<br />

<table class="datatable">
  <tbody>
    <tr>
      <th>Name</th>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
