{% extends 'base.html.twig' %} {% block content %}

<nav>
  <a href="/"> home </a>
  <a href="/transactions"> transactions </a>
  <a href="/categories"> categories </a>
</nav>

<h1>Categories</h1>

<form method="POST">
  <table>
    <tr>
      <td><label for="name">Name</label></td>
      <td><input id="name" name="name" type="text" value="" /></td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="add" />
      </td>
    </tr>
  </table>
</form>

<table>
  <tr>
    <th>Name</th>
  </tr>
  {% for category in categories %}
  <tr>
    <td>{{ category.name }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
