{% extends 'base.html.twig' %} {% use "navbar.html.twig" %} {% block content %}
{% set active = "home" %}
{{ block("navbar") }}
<h3>Hello {{ username }}</h3>
{% include "verifyemail.html.twig" %} {% endblock %}
