{% extends 'base.html.twig' %} {% block content %}

<nav>
  <a href="/"> home </a>
  <a href="/transactions"> transactions </a>
  <a href="/categories"> categories </a>
</nav>

<h1>Transactions</h1>

{% endblock %}
